.container {
  background-color: #1a0933;
}

img {
  width: 280px;
  height: 180px;
}

.card-title {
  color: #32fbe2;
  font-size: 25px;
}

h1 {
  color: #32fbe2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  color: #32fbe2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-text {
  color: #32fbe2;
}

.row .card {
  background-color: #1a0933;
  padding-left: 10px;
}
